.brand {
  font-family: "Martel", serif;
  font-weight: 800;
}

.sub-brand {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  color: #ffffff !important;

  &:hover,
  &:focus {
    color: #82a3f1 !important;
  }
}

/* 
.navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
} */

.titulo {
  font-family: "Martel", serif;
}

.parrafo {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
}

.portada {
  margin-top: 80px;
}

.text-footer {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.texto-banner {
  font-family: "Martel", serif;
  font-size: 48px;
  color: #ffffff;
  padding-top: 8em;
}

.texto-banner-inicios {
  font-family: "Martel", serif;
  font-size: 48px;
  padding-top: 8em;
  color: white;
  text-shadow:
    -2px -2px 0 #5c5047,
    0px -0px 0 #3c342e,
    -0px 0px 0 #3c342e,
    0px 0px 0 #3c342e;
}

#texto-btn-youtube {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.enlace-footer a {
  color: #ffffff;
  text-decoration: none;
}

.enlace-footer a:hover {
  color: #0066ff;
  text-decoration: none;
}

mark {
  background-color: #ffff00;
}

.img-invertida {
  transform: scaleX(-1);
}

.imagen-fondo-costanera {
  background-image: url("../img/costanera2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}

.imagen-fondo-borja {
  background-image: url("../img/borja-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}

.imagen-fondo-viena {
  background-image: url("../img/viena9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}

.imagen-fondo-pavarotti {
  background-image: url("../img/pavarotti-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}

.imagen-fondo-griminelli {
  background-image: url("../img/griminelli-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}

.imagen-fondo-galeria {
  background-image: url("../img/galeria-img-fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 25em;
}

.imagen-fondo-travesia {
  background-image: url("../img/travesia-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}

.imagen-fondo-lirica {
  background-image: url("../img/lirica-banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}

.imagen-fondo-inicios {
  background-image: url("../img/teatro-antiguo-conce.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}


/* Estilos para tamaños de tablet hacia arriba */
@media only screen and (min-width: 768px) {
  #parrafo-ancho-movil {
    display: none;
  }
}

/* Estilos para tamaños de pantalla móvil */
@media only screen and (max-width: 767px) {
  #parrafo-ancho-desktop {
    display: none;
  }

  #imagen-fondo {
    display: none;
  }

  #img-desktop {
    display: none;
  }
}