.brand {
  font-family: "Martel", serif;
  font-weight: 800;
}

.sub-brand {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  color: #ffffff !important;
  &:hover,
  &:focus {
    color: #82a3f1 !important;
  }
}
/* 
.navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
} */

.titulo {
  font-family: "Martel", serif;
}

.parrafo {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
}

.portada {
  margin-top: 80px;
}

.text-footer {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.enlace-footer a {
  color: #ffffff;
  text-decoration: none;
}

.enlace-footer a:hover {
  color: #0066ff;
  text-decoration: none;
}

mark {
  background-color: #ffff00;
}

.img-invertida {
  transform: scaleX(-1);
}

/* Estilos para tamaños de tablet hacia arriba */
@media only screen and (min-width: 768px) {
  #parrafo-ancho-movil {
    display: none;
  }
}
/* Estilos para tamaños de pantalla móvil */
@media only screen and (max-width: 767px) {
  #parrafo-ancho-desktop {
    display: none; 
  }
}